<link
  rel="icon"
  href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✍️</text></svg>"
/>
<style>
  .menu-main ul {
    display: flex;
    gap: 1rem;
  }
  .menu-main li {
    white-space: nowrap !important;
    flex-shrink: 0;
  }
  .menu-main a {
    white-space: nowrap !important;
    display: inline-block;
  }
  .menu-main span {
    white-space: nowrap !important;
  }
  .intro h1 {
    margin-bottom: 0;
  }
  @media (min-width: 767px) {
    .intro h1 {
      margin-bottom: 50px;
    }
  }
  .intro h2 {
    font-size: 28px;
    line-height: 34px;
  }
  @media (min-width: 767px) {
    .intro h2 {
      font-size: 50px;
      line-height: 56px;
    }
  }
  .blog .intro {
    margin-bottom: 1rem;
  }
</style>
